<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #667eea;
            color: white;
            text-align: center;
            font-family: Arial;
            margin-top: 100px;
        }

        a {
            padding: 10px 20px;
            background: white;
            color: #667eea;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>Welcome 🎓</h1>
    <h2>Student Performance Predictor</h2>
    <br>
    <a href="/predictdata">Go to Prediction</a>
</body>
</html>